* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 11px;
  color: white;
  background-color: #171b29;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  gap: 3px;
}

.chart-container {
  box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.89);
}
